.container-left{
    padding: 0 40px;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    color: #9E9E9E;
    height: 100vh;
    width: 100%;
    background: #FAFBFD;
}
.container-left b{
    color: #F7542E;
}
.container-left a{
    color: #9E9E9E;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}
.container-left a:hover{
    cursor: pointer;
    color: #333333;
    font-size: 16px;
}
.menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 400px;
    margin-top: 170px;
}

.container-left {
    list-style: none;
    margin-bottom: 50px;
}